@tailwind utilities;
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

i.bx, i.bxs, i.bxl {

    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: 'Anton';
    src: url('/fonts/Anton-Regular.ttf') format('truetype');
    font-weight: 400;
}

:root {
    --primary-color: #f5f5f5;
    --crimson: #DC143C;
    --red: #DC3545;
    --indianred: #CD5C5C;
    --blue-color: #0000FF;
    --green-color: #00FA9A;
    --black: #000000;
    --light-silver: #C0C0C0;
    --box-shadow-black: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --transaperecy: rgba(0, 0, 0, 0.2);
    --gray-transaperecy: rgb(146 151 179 / 13%);
}

a {
    text-decoration: none;
    color: var(--primary);
}

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    animation: fadeIn 0.4s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6)
}

.search-bar-expanded {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    width: 600px;
    max-width: 90%;
}

.search-bar-expanded input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
    padding: 5px;
}

.search-bar-expanded svg {
    width: 24px;
    height: 24px;
    color: black;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.search-bar-expanded svg:hover {
    color: var(--red);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.search {
    color: var(--primary-color);
    border: 1px solid var(--light-silver);
    border-radius: 100%;
    padding: 5px 5px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.search:hover {
    transform: scale(1.1);
    box-shadow: var(--box-shadow-black);
}

.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 20px 0 10px 0;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 16px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    width: 320px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    padding: 5px;
}

.search-bar .search-icon {
    width: 24px;
    height: 24px;
    color: gray;
    transition: color 0.3s ease;
    cursor: pointer;
}

.search-bar:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.search-bar input:focus + .search-icon,
.search-bar:hover .search-icon {
    color: black;
}


.nav {
    align-items: center;
    background-color: var(--red);
}

.nav-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}


.nav .logo {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    padding: 20px;
}

.nav .logo img {
    width: 140px;
    height: auto;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

.nav .center-nav ul {
    list-style-type: none;
    display: flex;
    column-gap: 50px;
    margin: 0;
    padding-bottom: 20px;
}

.nav .center-nav ul li {
    color: var(--primary-color);
    position: relative;
    z-index: 1000;
    transition: color 0.5s ease;
}

.nav .center-nav ul li:hover {
    color: var(--black);
    cursor: pointer;
}

.nav .center-nav ul li:hover {
    color: var(--black);
}

.user-container {
    display: flex;
    align-items: center;
    grid-gap: 25px;
    position: relative;
}

.like-content,
.cart-content {
    position: relative;
}

.user-container .bx-heart,
.user-container .cart {
    font-size: 30px;
    color: white;
    display: flex;
    cursor: pointer;
    transition: color 0.5s ease;
}

.user-container .bx-heart:hover,
.user-container .cart:hover {
    color: black;
}


.user-container .cart-number,
.user-container .like-number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 12px;
    height: 0;
    width: 100%;
    top: 65%;
}

.user-container .like-number {
    top: 50%;
}


/* .user-container .bx-heart::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0000FF;


} */

.user-pfp {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small_2x/user-profile-icon-free-vector.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    transition: box-shadow 0.5s ease;

}

.user-pfp:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.808);
}

.user-pfp.active {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.808);
}

.user-pfp svg {
    color: white;
    position: absolute;
    left: 50%;
    bottom: 50%;
    font-size: 18px;
    opacity: 0;
    z-index: -1;
    transition: transform 0.5s ease, color 0.5s ease, opacity 0.5s ease, z-index 0.5s ease, scale 0.5s ease;
}

.user-pfp svg:hover {
    color: gray;
    scale: 1.09;
    cursor: pointer;
}

.user-pfp a {
    text-decoration: none;
    color: white;
}

.user-pfp .bx-log-in.show {
    transform: translate(25px, -10px);
    opacity: 1;
    z-index: 1;
}

.user-pfp .bx-help-circle.show {
    transform: translate(45px, 10px);
    opacity: 1;
    z-index: 1;
}

.user-pfp .orders.show {
    transform: translate(25px, 30px);
    opacity: 1;
    z-index: 1;
}

.item-cart-add,
.item-like-add{
    position: absolute;
    right: 2%;
    width: 20%;
    background-color: white;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 2000;
}

.item-like-add{
    display: none;
}

.item-cart-container .item-cart-check,
.item-like-add .item-like-check{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.item-cart-container .item-cart-check p,
.item-like-add .item-like-check p{
    font-size: 16px;
    font-weight: 550;
}

.item-cart-add .item-cart-content,
.item-like-add .item-like-content{
    display: flex;
    column-gap: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item-cart-add .item-cart-content img,
.item-like-add .item-like-content img{
    width: 140px;
    height: auto;
    object-fit: cover;
}

.item-cart-add .item-cart-content p,
.item-like-add .item-like-content p{
    color: var(--light-silver);
    margin: 2px 0;
}

.item-cart-add .item-cart-content p:last-of-type,
.item-like-add .item-like-content p:last-of-type{
    color: var(--black);
    font-weight: 550;
}

.item-cart-add .item-cart-container svg,
.item-like-add .item-like-container svg{
    width: 30px;
    fill: #00FA9A;
}

.item-cart-container .btn-view-cart,
.item-like-container .btn-view-like{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 1px solid var(--light-silver);
    background-color: white;
    padding: 16px 6px;
    color: var(--black);
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    transition: border-color 0.5s ease;
}

.item-cart-container .btn-view-cart:hover,
.item-like-container .btn-view-like:hover{
    border-color: var(--black);
}

.item-cart-container .btn-checkout-cart{
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: var(--black);
    padding: 16px 6px;
    color: white;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.item-cart-container .btn-checkout-cart:hover{
    background-color: var(--light-silver);
}

.item-cart-add .close-cart,
.item-like-add .close-like{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    transition: fill 0.5s ease;
    cursor: pointer;
}


.item-cart-add .close-cart:hover,
.item-like-add .close-like:hover{
    fill: var(--light-silver);
}
.progress-ring {
    stroke: dodgerblue;
    stroke-dasharray: 62.8;
    stroke-dashoffset: 0;
    animation: progressFill 5s linear forwards;
    transform: rotate(-90deg);
    transform-origin: center;
}

@keyframes progressFill {
    from {
        stroke-dashoffset: 62.8;
    }
    to {
        stroke-dashoffset: 0;
    }
}







